body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(96.2deg, rgb(255, 230, 112) 10.4%, rgb(255, 100, 100) 43.8%, rgb(0, 93, 219) 105.8%);
}

img {
    margin: auto;
    display: block;
}

header {
    background-color: white;
}

* {
    margin: 0%;
    padding: 0px;
}

button {
    background-color: #ffcab0;
    color: black;
    padding: 4px 4px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 75px ;
    font-family: Arial;
    border-radius: 20px;
    position: relative;
}

a {text-decoration: none;
color: black;}


.navbar {
    overflow: hidden;
    background-color: #ffcab0;
}

.navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #fdffcd;
    color: black;
    transition: 1s;
    border-radius: 20px;
}

h3 {
    background-color: #ffcab0;
    width: fit-content;
}

h2 {
    background-color: #ffcab0;
    width: fit-content;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
h2:hover{
    background-color: #ffebbb;
    color: black;
    transition: 1s;
}

input[type=submit] {
    background-color: #ffcab0;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    float: left;
  }
  input[type=submit]:hover {
    background-color: #ff6f3c;
  }
  .container {
    border-radius: 5px;
    background-color: #0C0A0A;
    color: #ff6f3c;
    padding: 22px;
    width: 55%;
  }
   /* setting up of columns */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 5px;
  }
  .col-75 {
    float: left;
    width: 68%;
    margin-top: 5px;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }



